@{
    ViewBag.Title = "预警监测";
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
    //配置文件经纬度读取
    var lon = System.Configuration.ConfigurationManager.AppSettings["Longitude"];
    var lat = System.Configuration.ConfigurationManager.AppSettings["Latitude"];
    var maptype = System.Configuration.ConfigurationManager.AppSettings["mapType"];//地图类型
    var lonlatchange = System.Configuration.ConfigurationManager.AppSettings["lonLatChange"];//经纬度转换
    var lonlattype = System.Configuration.ConfigurationManager.AppSettings["lonLatType"];//经纬度转换--度分秒
    var ZoomLayer = System.Configuration.ConfigurationManager.AppSettings["ZoomLayer"];//默认放大级别
}

@section Header{

    <link href="~/Content/MapStyle.css" rel="stylesheet" />
    <script src="~/Scripts/laydate/laydate.js"></script>
    <script src="~/Scripts/Springer.js"></script>
    <script src="~/Scripts/Springer/SpringerMapCommon.js"></script>
    <script src="~/Scripts/Springer/SpringerMapJcCamera.js"></script>
    <script src="~/Scripts/Springer/SpringerMapJcMonitor.js"></script>
    <script src="~/Scripts/Springer/SpringerMapFireInfo.js"></script>
    <script src="~/Content/themes/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/themes/assets/js/date-time/daterangepicker.min.js"></script>

    <script>
        @*获取权限全局变量*@
        var rights= '@ViewBag.rights';
    </script>

}

<script>

    $(function ($) {
        $('.date-picker').datepicker({ autoclose: true, language: 'cn' }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    });

    //MAP
    var nav;
    dojoConfig = {
        parseOnLoad: true,
        packages: [{
            name: 'bdlib',
            location: this.location.pathname.replace(/\/[^/]+$/, "") + "/js/bdlib"
        }]
    };
    var map, toolbar, graphicLayer;
    bevent = require("dojo/_base/event");
    require(["esri/map",
    "bdlib/GoogleLayer",
    "bdlib/TDTLayer",
    "bdlib/TDTAnnoLayer",
    "esri/layers/FeatureLayer",
    "esri/geometry/Point",
    "esri/symbols/SimpleFillSymbol",
    "esri/symbols/SimpleLineSymbol",
    "dojo/_base/Color", "dojo/parser", "esri/toolbars/draw", "esri/symbols/SimpleMarkerSymbol", "esri/graphic", "esri/dijit/Scalebar", "esri/dijit/OverviewMap",
    "esri/toolbars/navigation", "dijit/registry", "esri/symbols/TextSymbol", "esri/dijit/HomeButton", "esri/toolbars/edit",
    "esri/tasks/GeometryService","esri/dijit/Measurement",
    "dojo/domReady!"],
    function (Map, GoogleLayer, TDTLayer, TDTAnnoLayer, FeatureLayer, Point, SimpleFillSymbol, SimpleLineSymbol, Color, parser, Draw, SimpleMarkerSymbol, Graphic, Scalebar, OverviewMap, Navigation
        , registry, TextSymbol, HomeButton, Edit,GeometryService,Measurement) {
        // parser.parse();
        map = new Map("map", { logo: true, sliderStyle: "large" });
        //autoResize: false
        this.map_type = "img_p";
        //2 天地图
        if (@maptype=="2") {
            var basemap = new TDTLayer(this.map_type);
            map.addLayer(basemap);
            var annolayer = new TDTAnnoLayer();
            map.addLayer(annolayer);
        }
        else
        {
            var basemap = new GoogleLayer(this.map_type);
            map.addLayer(basemap);
        }

        // var MapServer = "http://192.168.5.249:6080/arcgis/rest/services//HHZ/MapHHZ/MapServer";
        //36.7.68.79
        //dynamicMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer(MapServer);
        ////添加图层载入后监听方法loadLayerList
        //dojo.connect(dynamicMapServiceLayer, "onLoad", loadLayerList);
        // map.addLayer(dynamicMapServiceLayer);

        var pt = new Point(parseFloat(@lon), parseFloat(@lat));
        //var pt = new Point(117.18182, 31.8448);//合肥
        // var pt=new Point(103.354065,23.367718);//红河州
        map.centerAndZoom(pt, @ZoomLayer);

        nav = new esri.toolbars.Navigation(map);

        graphicLayer = new esri.layers.GraphicsLayer();
        map.addLayer(graphicLayer);

        //比例尺
        var scalebar = new Scalebar({
            map: map,
            attachTo: "bottom-center"
        });
        //////鹰眼
        //var overviewMapDijit = new esri.dijit.OverviewMap({
        //    map: map,
        //    attachTo: "bottom-right",
        //    color: " #D84E13",
        //    visible: true,
        //    width: 150, // 默认值是地图高度的 1/4th
        //    height: 150, // 默认值是地图高度的 1/4th
        //    //maximizeButton: true,
        //    opacity: .40
        //});
        //overviewMapDijit.startup();
        //js方法
        // getJcCameraLonLat();//监测相机方法
        @Html.Raw(ViewBag.loadFunc);

        //给地图控件添加载鼠标移动监听事件
        dojo.connect(map, "onMouseMove",function(evt){
            showChangeCoordinates(evt,@lonlatchange,@lonlattype);
        });
        //给地图控件添加载鼠标拖拽监听事件
        dojo.connect(map, "onMouseDrag", function(evt){
            showChangeCoordinates(evt,@lonlatchange,@lonlattype);
        });

        //在地图初始化的时候添加监听画图的事件：
        toolbar = new esri.toolbars.Draw(map);
        dojo.connect(toolbar, "onDrawEnd", doMeasure);

        //地图切换
        $('#switchmap').toggle(function () {
            this.map_type = "img_c11";//卫星
            $('#imgtype').attr('class', 'vecType');
            $('#imgname').text("地图");
            if (@maptype=="2") {
                var basemap = new TDTLayer(this.map_type);
                var annolayer = new TDTAnnoLayer();
                map.addLayer(basemap);
                map.addLayer(annolayer);
            }
            else
            {
                var basemap = new GoogleLayer(this.map_type);
                map.addLayer(basemap);
            }

            $('#info2').css('color', 'white');
            //var MapServer = "http://192.168.5.249:6080/arcgis/rest/services/points1/MapServer";
            //dynamicMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer(MapServer);
            ////添加图层载入后监听方法loadLayerList
            //dojo.connect(dynamicMapServiceLayer, "onLoad", loadLayerList);
            //map.addLayer(dynamicMapServiceLayer);

        }, function () {
            this.map_type = "img_p";//地图
            $('#imgtype').attr('class', 'yxType');
            $('#imgname').text("影像");
            if (@maptype=="2") {
                var basemap = new TDTLayer(this.map_type);
                var annolayer = new TDTAnnoLayer();
                map.addLayer(basemap);
                map.addLayer(annolayer);
            }
            else{
                var basemap = new GoogleLayer(this.map_type);
                map.addLayer(basemap);
            }

            $('#info2').css('color', 'red');
            //var MapServer = "http://192.168.5.249:6080/arcgis/rest/services/points1/MapServer";
            //dynamicMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer(MapServer);
            ////添加图层载入后监听方法loadLayerList
            //dojo.connect(dynamicMapServiceLayer, "onLoad", loadLayerList);
            //map.addLayer(dynamicMapServiceLayer);
        });

    });

    //量算面积和长度方法：
    function GetLenthorArea(geometry) {//画图完毕后计算距离或者面积
        if (geometry.type == "polyline") {
            var geo = esri.geometry.webMercatorToGeographic(geometry);
            if (@maptype=="2") {
                geo=geometry;
            }
            var Length = esri.geometry.geodesicLengths([geo], esri.Units.METERS);
            map.infoWindow.setTitle("距离测量");
            if (parseFloat(Length)<1000) {
                map.infoWindow.setContent("距离： <strong>" + parseFloat(Length).toFixed(2)+ "米 </strong>");
            }
            else
            {
                map.infoWindow.setContent("距离： <strong>" +  parseFloat(Length/1000).toFixed(2)+ "千米 </strong>");
            }
            map.infoWindow.show();
        }
        else if(geometry.type == "polygon") {
            var geo = esri.geometry.webMercatorToGeographic(geometry);
            if (@maptype=="2") {
                geo=geometry;
            }
            var Area = esri.geometry.geodesicAreas([geo], esri.Units.SQUARE_METERS);
            map.infoWindow.setTitle("面积测量");
            if (parseFloat(Area)<1000000) {
                map.infoWindow.setContent("面积： <strong>" + parseFloat(Area).toFixed(2) + "平方米 </strong>");
            }
            else
            {
                map.infoWindow.setContent("面积： <strong>" +  parseFloat(Area/1000000).toFixed(2) + "平方公里 </strong>");
            }
            map.infoWindow.show();
        }
    }

    //量算
    function doMeasure(geometry) {
        //更加类型设置显示样式
        // measuregeometry = geometry;
        toolbar.deactivate();
        switch (geometry.type) {
            case "polyline":
                var symbol = new esri.symbol.SimpleLineSymbol(esri.symbol.SimpleLineSymbol.STYLE_SOLID, new dojo.Color([255,0,0]), 2);
                break;
            case "polygon":
                var symbol = new esri.symbol.SimpleFillSymbol(esri.symbol.SimpleFillSymbol.STYLE_SOLID, new esri.symbol.SimpleLineSymbol(esri.symbol.SimpleLineSymbol.STYLE_DASHDOT, new dojo.Color([255, 0, 0]), 2), new dojo.Color([255, 255, 0, 0.25]));
                break;
        }
        //设置样式
        var graphic = new esri.Graphic(geometry,symbol);
        //清除上一次的画图内容
        map.graphics.clear();
        map.graphics.add(graphic);
        GetLenthorArea(geometry);
    }

    //private method
    var PhotoCollapseStatus=0;
    //图片信息
    var hideInfoWinPhoto = function () {
        if (PhotoCollapseStatus == 0) {
            $('#divsearch').css("height", '50px');
            PhotoCollapseStatus = 1;
        }
        else {
            $('#divsearch').css("height", '280px');
            PhotoCollapseStatus = 0;//收缩
        }

    };
    var closeInfoWinPhoto = function () {
        $("#divsearch").hide();
        PhotoCollapseStatus = 1;
    };

</script>


<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center'" style="height:100%;width:100%">
    <div id="map">
    </div>
    @*地理坐标，屏幕坐标*@
    <p id="info2" class="bottomNav"></p>
    @*地图切换*@
    <div class="pub_path1" id="switchmap" style="position: absolute; bottom: 80px; right: 20px; z-index: 1100;">
        <div class="hoverType">
            <div class="map_top">
                <div class="yxType" id="imgtype"></div>
            </div>
            <div class="map_bom" id="imgname">影像</div>
        </div>
    </div>

    <div class="rightNav" id="maptool">
        <input id="Button1" type="button" style="font-weight:bold;color:green;" value="距离测量" onclick="toolbar.activate(esri.toolbars.Draw.POLYLINE);map.hideZoomSlider();" />
        <input id="Button2" type="button" style="font-weight:bold;color:green;" value="面积测量" onclick="toolbar.activate(esri.toolbars.Draw.POLYGON);map.hideZoomSlider();" />
        <input id="Button3" type="button" style="font-weight:bold;color:green;" value="清空划线" onclick=" map.graphics.clear(); map.infoWindow.hide();" />
    </div>

    @*图片/电子监控处理查询*@
    <div class="widget-box bottomPhotoDiv" id="divsearch" style="width:80%;display:none;">
        <div class="widget-header">
            @if (@ViewBag.loadtype == "0")
            {
            <h4>图片处理查询</h4>
            }
            else
            {
            <h4>电子监控查询</h4>
            }

            &nbsp;&nbsp;&nbsp;&nbsp;
            开始时间： <input class="date-picker" id="txtStartTime" value="" style="width:90px;" type="text" data-date-format="yyyy-mm-dd">&nbsp;&nbsp;
            结束时间：<input class="date-picker" id="txtEndTime" value="" style="width:90px;" type="text" data-date-format="yyyy-mm-dd">&nbsp;&nbsp;
            处理结果：
            <select style="width:100px" id="status">
                <option value="0">未处理</option>
                <option value="1">已处理</option>
                <option value="2">转为火情</option>
                <option value="3">全部</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            @if (@ViewBag.loadtype == "0")
            {
            <button type="button" class="btn btn-info btn-sm" onclick="searchPhotoData()">
                <i class="icon-search bigger-110 green"></i>
                查 询
            </button>
            }
            else
            {
            <button type="button" class="btn btn-info btn-sm" onclick="searchMonitorData()">
                <i class="icon-search bigger-110 green"></i>
                查 询
            </button>
            }

            <div class="widget-toolbar">
                <a href="#" onclick="hideInfoWinPhoto()">
                    <i class="icon-chevron-down"></i>
                </a>
                <a href="javascript:void(0)" onclick="closeInfoWinPhoto()">
                    <i class="icon-remove"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div style="height: 220px;overflow:auto" id="divinfo">
                    <p>请按条件查询</p>
                </div>
            </div>
        </div>
    </div>


</div>