
h1
{
    color: red;
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
}

h3
{
    color: red;
    text-align: center;
    margin: 0 auto;
}


.test ul
{
    list-style: none;
}

.test li
{
    float: left;
    width: 100px;
}

.test a:link
{
    color: #666;
    background: #CCC;
    text-decoration: none;
}

.test a:visited
{
    color: #666;
    text-decoration: underline;
}

.test a:hover
{
    color: #FFF;
    font-weight: bold;
    text-decoration: underline;
    background: #F00;
}

.test a
{
    display: block;
    text-align: center;
    height: 30px;
}

.test li
{
    float: left;
    width: 100px;
    background: #CCC;
    margin-left: 3px;
    line-height: 30px;
}

.tb
{
    margin-left: 25px;
}

    .tb th
    {
        text-align: center;
    }

    .tb td
    {
        text-align: center;
    }
