@{
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}
@section Header{
    <style>
        ul {
            position: fixed;
            z-index: 4;
        }

        ul, li {
            list-style: none;
        }

        #tab {
            position: relative;
        }

            #tab .tabList ul li {
                float: left;
                background: #fefefe;
                background: -moz-linear-gradient(top, #fefefe, #e6fbe9);
                background: -o-linear-gradient(left top,left bottom, from(#fefefe), to(#e6fbe9));
                background: -webkit-gradient(linear,left top,left bottom, from(#fefefe), to(#e6fbe9));
                border: 1px solid #ccc;
                border-top: none;
                border-bottom: none;
                padding: 5px 0;
                width: 173px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                margin-left: -1px;
                position: relative;
                cursor: pointer;
                color: #156c02;
                border-radius: 3px;
            }

            #tab .tabList li.cur {
                border-bottom: none;
                background: #3EC136;
                color: #fff;
                font-size: larger;
            }

        .divTable table tr td h1 {
            width: 80px;
            height: 28px;
            line-height: 28px;
            color: #22a306;
            border: 1px solid #35b719;
            font-size: 15px;
            border-radius: 12px;
            background: url(../images/ico/firereport_icon.png) 7px 6px no-repeat;
            padding-left: 28px;
        }
    </style>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'north'" title="" style="height:40px">
        <div id="tab">
            <div class="tabList">
                <ul>
                    <li class="cur">采集信息</li>
                    <li>有害生物信息</li>
                    <li>照片</li>
                </ul>
            </div>
        </div>
    </div>

    <div data-options="region:'center'" title="" class="LayoutCenterBG" style="margin-top:-6px;">
        <div class="divTable" id="divTable">
        </div>
    </div>
</div>

<script type="text/javascript">
    var oDiv = document.getElementById("tab");
    var oLi = oDiv.getElementsByTagName("div")[0].getElementsByTagName("li");
    var timer = null;
    for (var i = 0; i < oLi.length; i++) {
        oLi[i].index = i;
        oLi[i].onclick = function () {
            show(this.index);
            switchIframeUrl((this.index + 1))
        }
    }

    function show(index) {
        var alpha = 0;
        for (var j = 0; j < oLi.length; j++) {
            oLi[j].className = "";
        }
        oLi[index].className = "cur";
    }

    switchIframeUrl(1);

    function switchIframeUrl(flag) {
        var dataId = getQueryString("DataId");
        var bioCode = getQueryString("BioCode");
        if (flag == 1) {
            queryValue(flag, dataId, bioCode);
        }
        if (flag == 2) {
            queryValue(flag, dataId, bioCode);
        }
        if (flag == 3) {
            queryValue(flag, dataId, bioCode);
        }
    }

    function queryValue(flag, dataId, bioCode) {
        if (flag == 1) {
            $.ajax({
                type: "get",
                url: "/PEST/GetCollectData",
                data: { DataId: dataId },
                dataType: "json",
                success: function (data) {
                    if (data != null && data.Success) {
                        $('#divTable').html('');
                        $('#divTable').html(data.Msg);
                    }
                    else {
                        $('#divTable').html('');
                    }
                },
                error: function (err, ioArgs) {
                    layer.msg('系统异常!', { icon: 5 });
                }
            });
        }
        if (flag == 2) {
            $.ajax({
                type: "get",
                url: "/PEST/GetPESTPropData",
                data: { BioCode: bioCode },
                dataType: "json",
                success: function (data) {
                    if (data != null && data.Success) {
                        $('#divTable').html('');
                        $('#divTable').html(data.Msg);
                    }
                    else {
                        $('#divTable').html('');
                    }
                },
                error: function (err, ioArgs) {
                    layer.msg('系统异常!', { icon: 5 });
                }
            });
        }
        if (flag == 3) {
            $.ajax({
                type: "get",
                url: "/PEST/GetGetPESTPhotoData",
                data: { BioCode: bioCode },
                dataType: "json",
                success: function (data) {
                    if (data != null && data.Success) {
                        $('#divTable').html('');
                        $('#divTable').html(data.Msg);
                    }
                    else {
                        $('#divTable').html('');
                    }
                },
                error: function (err, ioArgs) {
                    layer.msg('系统异常!', { icon: 5 });
                }
            });
        }
    }

    //js获取url 参数
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
</script>

