@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul class="indexDeskList">
        <li>
            <a onclick="login('4495')" class="wrjjc">
                <span>无人机监测</span>
            </a>
        </li>
        <li>
            <a onclick="login('4496')" class="lyspjc">
                <span>林业视频监测</span>
            </a>
        </li>
        <li>
            <a href="#" class="wxdh disable">
                <span>北斗/GPS卫星导航</span>
            </a>
        </li>
        <li>
            <a onclick="login('4501')" class="ysdwjc">
                <span>野生动物监测</span>
            </a>
        </li>
        <li>
            <a onclick="login('4502')" class="yszwjc">
                <span>野生植物监测</span>
            </a>
        </li>
    </ul>
</div>

