@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul class="indexDeskList">
        <li>
            <a onclick="login('4497')" class="lysjzx">
                <span>林业数据中心平台</span>
            </a>
        </li>
        <li>
            <a href="#" class="ywlcgl disable">
                <span>业务流程管理平台</span>
            </a>
        </li>
        <li>
            <a onclick="login('4500')" class="ldsjzc" >
                <span>林业大数据支撑平台</span>
            </a>
        </li>
        <li>
            <a href="#" class="lygxfw disable">
                <span>林业共享服务平台</span>
            </a>
        </li>
        <li>
            <a href="#" class="lyswdzsp disable">
                <span>林业三维电子沙盘展示平台</span>
            </a>
        </li>
    </ul>
</div>

