@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul class="indexDeskList">
        <li>
            <a href="#" class="slgajwzh disable">
                <span>森林公安警务综合管理系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="slgaxzaj disable">
                <span>森林公安行政案件管理系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="slgaxsaj disable">
                <span>森林公安刑事案件管理系统</span>
            </a>
        </li>
    </ul>
</div>

