@{
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<div>
    <ul class="indexDeskList">
        <li>
            <a onclick="login('4489')" class="slhxjc">
                <span>森林火险监测预警系统</span>
            </a>
        </li>
        <li>
            <a onclick="login('4490')" class="hlyxc">
                <span>护林员巡护监管系统</span>
            </a>
        </li>
        <li>
            <a onclick="login('4491')" class=" slhzyj">
                <span>森林火灾应急指挥系统</span>
            </a>
        </li>
        <li>
            <a onclick="login('4492')" class="zhpg">
                <span>灾后评估管理系统</span>
            </a>
        </li>
        <li>
            <a onclick="login('4494')" class="yhswfz">
                <span>有害生物防治监测系统</span>
            </a>
        </li>
    </ul>
</div>

