@{
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<div>
    <ul class="indexDeskList">
        <li>
            <a href="http://36.7.68.79:8081" target="_blank" class="lyyzt">
                <span>林业一张图系统</span>
            </a>
        </li>
        <li>
            <a href="http://220.160.59.10:7003/tlwFrmis/login_indo.do?username=zyjg_admin&userpw=000000" target="_blank" class="lyzyjg">
                <span>林业资源监管系统</span>
            </a>
        </li>
        <li>
            <a href="http://220.160.59.10:7003/tlwFrmis/login_indo.do?username=gyl_admin&userpw=000000" target="_blank" class="gylgl">
                <span>公益林管理系统</span>
            </a>
        </li>
        <li>
            <a href="http://220.160.59.10:7003/tlwFrmis/login_indo.do?username=yzl_admin&userpw=000000" target="_blank" class="yzlgl">
                <span>营造林管理系统</span>
            </a>
        </li>
        <li>
            <a href="http://220.160.59.10:7003/tlwFrmis/login_indo.do?username=gsmm_admin&userpw=000000" target="_blank" class="gsmmgl">
                <span>古树名木管理系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="swdyxgl disable" target="_blank">
                <span>生物多样性管理系统</span>
            </a>
        </li>
    </ul>
</div>

