@{
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<div>
    <ul class="indexDeskList">
        <li>
            <a href="http://36.7.68.79:9005/ynhhzweb/Portal/AutoLogin/Login/login.aspx?userid=10001&menuid=66666666" target="_blank" class="lyznbg">
                <span>林业智能办公系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="lqxxgl disable">
                <span>林权信息管理系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="xyxzsp disable">
                <span>行业行政审批系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="mcjygl disable">
                <span>木材经营管理系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="lmzmgl disable">
                <span>林木种苗管理系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="lmcfgl disable">
                <span>林木采伐管理系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="lzzfgl disable">
                <span>林政执法管理系统</span>
            </a>
        </li>
        <li>
            <a href="#" class="lyjmhgl disable">
                <span>林业局门户管理系统</span>
            </a>
        </li>
    </ul>
</div>

