<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <!--<customErrors mode="On"/>-->
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISmsSendService" />
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap">
          <textMessageEncoding messageVersion="Soap" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://36.7.68.79:9006/WebService.asmx" binding="customBinding"
        bindingConfiguration="WebServiceSoap" contract="OAService.WebServiceSoap"
        name="WebServiceSoap" />
      <endpoint address="http://192.168.8.168:8100/ThirdSmsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmsSendService"
        contract="SmsSendService.ISmsSendService" name="BasicHttpBinding_ISmsSendService" />
    </client>
  </system.serviceModel> 
</configuration>