@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@section Header{
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="homeUL ">
                        <input type="button" value="上一封" onclick="alert('功能未启用，请稍候...');" class="btnLastsealCss">
                        <input type="button" value="下一封" onclick="alert('功能未启用，请稍候...');" class="btnNextsealCss">
                        <input type="button" value="返回" onclick="javascript: history.go(-1);" class="btnReturnCss">
                    </div>
                </div>
            </div>

            <div data-options="region:'center'" class="LayoutCenterBG">
                <div class="divMan">
                    @Html.Raw(@ViewBag.EmailRecieveMan)
                </div>
            </div>
        </div>
    </div>
</div>
