@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@section Header{
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none;">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" style=" border: none; ">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="homeUL">
                        <input type="button" value="返回" onclick="javascript: history.go(-1);" class="btnReturnCss" />
                    </div>
                </div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">
                <div class="divMan">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width:80px;"> 收件人: </td>
                            <td>
                                <input id="tbxMessageNAME" type="text" style="height:25px;width:600px" onfocus="reset()" readonly />
                                <input type="button" value="群组选择" onclick="opengroup('1')" class="btnMsgCss" />
                                <input type="hidden" id="tbxMessagePHONE" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>模板选择:</td>
                            <td>
                                <input type="button" value="短信模板" onclick="openscmb('1')" class="btnMsgCss" />&nbsp;&nbsp;&nbsp;&nbsp;
                                @*<input type="button" value="群组选择" onclick="opengroup()" class="btnMsgCss" />*@
                            </td>
                        </tr>
                        <tr>
                            <td>短信内容:</td>
                            <td><textarea id="tbxMessageCONTENT" style="width: 95%; height: 100px; resize: none;"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;">
                                <input type="button" value="发送" onclick="Send()" class="btnSendCss" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="button" value="收藏" onclick="Manger()" class="btnAddCss" />&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="color:red; font-size:14px;">
                                    注意:1、收藏模板短信时，若出现变量值用@代替！<br />
                                </p><p style="color:red; font-size:14px; text-indent:2em;">
                                    2、若短信为非收藏模板的短信时，发送短信时候需要第三方短信平台审核，会有一定的延迟现象。<br />
                                </p><p style="color:red; font-size:14px; text-indent:2em;">
                                    3、建议将工作中常用的短信可以设置成模板短信
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div data-options="region:'east'" title="" style=" width:320px; border: none;">
                <div class="divMan">
                    <div id="tt" style="" class="easyui-tree"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div data-options="region:'center'" id="gd" style="display:none;" class="layoutcenterbg">

    <div class="divTable" id="divTable">

    </div>
    <div class="divPager" id="divPager" style="position:fixed;bottom:0;">

    </div>
</div>
<div class="divMan" id="tablesee" style="display:none;margin-left:5px;margin-top:8px">
    <div class="divMan">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:80px;"> 群组名称: </td>
                <td><input id="EGROUPNAME" type="text" style="height:25px;width:700px" readonly /></td>
            </tr>
            <tr>
                <td style="width:80px;"> 群组人员: </td>
                <td><input id="EGROUPMEMBERLIST" type="text" style="height:25px;width:700px" readonly /></td>
            </tr>
        </table>
    </div>
</div>
<div data-options="region:'center'" id="dd" style="display:none;" class="layoutcenterbg">

    <div class="divTable" id="divTable1">

    </div>
</div>
<script type="text/javascript">
    var scmbgrid;
    var groupgrid;
    var phonelist = '';
    var namlist = '';
    var ephonelist = '';
    var enamlist = '';
    ///人员tree的展示
    $(function () {
        var sd;
        $('#tt').tree({
            url: '/Email/MessageTreeGet?type=0',
            cache: false,
            //data: { nameForMat: "{ADNAME}[{USERJOB}] [电话：{PHONE}]]" },
            checked: false,
            animate: true,
            lines: true,
            cache: false,
            checkbox: true,
            onLoadSuccess: function (data) {
                var s1 = $('#tbxMessagePHONE').val();
                var str = s1.split(',');
                for (var i = 0; i < str.length ; i++) {
                    if (str[i] != '') {
                        var node = $('#tt').tree('find', str[i]);
                        if (node != null) {
                            $('#tt').tree('check', node.target);
                        }
                    }
                }
            },
            onCheck: function (node, checked) {
                if (checked) {
                    var ss = getChecked();
                }
                else {
                    var ss = getChecked();
                }
                if ($.trim(ss) != "") {
                    sd = ss.split("|");
                }
                else {
                    sd[0] = "";
                    sd[1] = "";
                }
                $('#tbxMessageNAME').val(sd[1]);
                $('#tbxMessagePHONE').val(sd[0]);
            }
        });
    })

    function getload(nodes, orgno) {
        $('#tt').tree.cascadeChild(nodes, function (node) {
            if (node.id == orgno)
                ('#tt').tree.checkNode(node);
        });
    }

    ///选中的方法
    function getChecked() {
        var nodes = $('#tt').tree('getChecked');
        var s = '';
        var d = '';
        var phone = '';
        var name = '';
        if (nodes.length > 0) {
            for (var i = 0; i < nodes.length; i++) {
                if ($('#tt').tree('isLeaf', nodes[i].target)) {
                    if (s != '') s += ',';
                    if (d != '') d += ',';
                    s += nodes[i].phone;
                    d += nodes[i].flag;
                }
                else {
                    var par = $('#tt').tree('getParent', nodes[i].target)
                    if (nodes[i].state == 'open') {
                        var cnodes = $('#tt').tree('getChildren', nodes[i].target)
                        for (var i = 0; i < cnodes.length; i++) {
                            if ($('#tt').tree('isLeaf', cnodes[i].target)) {
                                if (s != '') s += ',';
                                if (d != '') d += ',';
                                s += cnodes[i].phone;
                                d += cnodes[i].flag;
                            }
                            else {
                                var ss = cnodes[i].id.split('|');
                                $.ajax({
                                    url: '/Email/GetMessagejson',
                                    data: {
                                        ID: ss[0],
                                        TYPE: ss[1],
                                    },
                                    type: 'post',
                                    async: false,
                                    dataType: "json",
                                    error: function () {
                                        layer.msg('系统异常!', { icon: 5 });
                                    },
                                    success: function (re) {
                                        if (phone != '') phone += ',';
                                        if (name != '') name += ',';
                                        phone += re.PHONELIST;
                                        name += re.NAMELIST;
                                    }
                                });
                            }
                        }
                    }
                    if (nodes[i].state == 'closed' && par.checked == false) {
                        var ss = nodes[i].id.split('|');
                        $.ajax({
                            url: '/Email/GetMessagejson',
                            data: {
                                ID: ss[0],
                                TYPE: ss[1],
                            },
                            type: 'post',
                            async: false,
                            dataType: "json",
                            error: function () {
                                layer.msg('系统异常!', { icon: 5 });
                            },
                            success: function (re) {
                                if (phone != '') phone += ',';
                                if (name != '') name += ',';
                                phone += re.PHONELIST;
                                name += re.NAMELIST;
                            }
                        });
                    }
                }
            }
            if ($.trim(s) != '' && $.trim(phone) != '') {
                phonelist = s + "," + phone;
            }
            if ($.trim(s) != '' && $.trim(phone) == '') {
                phonelist = s;
            }
            if ($.trim(s) == '' && $.trim(phone) != '') {
                phonelist = phone;
            }
            if ($.trim(d) != '' && $.trim(name) != '') {
                namlist = d + "," + name;
            }
            if ($.trim(d) != '' && $.trim(name) == '') {
                namlist = d;
            }
            if ($.trim(d) == '' && $.trim(name) != '') {
                namlist = name;
            }
            return phonelist + "|" + namlist;
        }
        else {
            return "";
        }
    }

    ///短信发送
    function Send() {
        var t1 = $('#tbxMessageNAME').val();
        if ($.trim(t1) == "") {
            layer.msg('请选择发送人!', { icon: 5 });
            return;
        }
        $.ajax({
            url: '/Email/MessageSend',
            data: {
                MessageContent: $('#tbxMessageCONTENT').val(),
                //MessageTitle: $('#tbxMessageTitle').val(),
                MessageName: $('#tbxMessageNAME').val(),
                PHONE: $('#tbxMessagePHONE').val(),
                returnUrl: '@Html.Raw(@ViewBag.T_UrlReferrer)'
            },
            type: 'post',
            dataType: "json",
            error: function () {
                layer.msg('系统异常!', { icon: 5 });
            },
            success: function (re) {
                if (re.Success) {
                    //if (confirm(re.Msg + ' 请返回?'))
                    layer.confirm(re.Msg+ '请返回?', { icon: 3 },function(index){
                        window.location.reload();
                    });
                }
                else {
                    layer.msg(re.Msg, { icon: 5 });
                }
            }
        });
    }
    ///短信模板内容展开
    function openscmb(Page)
    {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        $.ajax({
            url: '/Email/GetScSmsList',
            data: {
                PageSize: pagesize,
                Page: Page,
            },
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable1').html(ar.tableInfo);
                    layer.open({
                        type: 1,
                        title: '短信模板',
                        area: ['55%', '70%'],
                        shade: 0,
                        fix: true,
                        maxmin: true,
                        content: $('#dd'),
                    })
                }
                else {
                    layer.msg('登录异常', { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常', { icon: 5 });
            }
        });
    }
    ///模板双击事件
    function setSmsValue(MessageContent) {
        $('#tbxMessageCONTENT').val(MessageContent);
        layer.closeAll();
    }
    ///模板删除
    function SmsDel(Method, ID, page) {
        layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
            $.ajax({
                url: '/Email/MessageManger',
                cache: false,
                data: { EM_MESSAGEID: ID, Method: Method },
                type: 'post',
                error: function () {
                    layer.msg('系统异常!', { icon: 5 });
                },
                dataType: 'json',
                success: function (re) {
                    if (re.Success) {
                        layer.msg('删除成功!', { icon: 6 });
                        openscmb(page);
                    }
                    else {
                        layer.msg(re.Msg, { icon: 5 });
                    }
                }
            });
        });
    }
    ///模板修改
    function SmsMdy(Method, ID, page, NAME) {
        layer.open({
            type: 2,
            title:"短信模板修改",
            area: ['70%', '70%'],
            //shade: 0,
            fix: false,
            maxmin: true,
            content: '/Email/SMStemplateMan?EM_MESSAGEID=' + ID + "&Method=" + Method,
            end: function () {
                openscmb("1");
            }
        });
    }
    ///群组组成展开
    function opengroup(Page)
    {
        var pagesize = '0';
        if (document.getElementById("selPageSize") != null) {
            pagesize = document.getElementById("selPageSize").value;
        }
        $.ajax({
            url: '/Email/GetGroupList',
            data: {
                PageSize: pagesize,
                Page: Page,
                EGROUPTYPE:2
            },
            async: false,
            type: 'post',
            success: function (data) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    $('#divTable').html(ar.tableInfo);
                    $('#divPager').html(ar.pagerInfo);
                    layer.open({
                        type: 1,
                        title: '群组组成',
                        area: ['55%', '70%'],
                        shade: 0,
                        fix: true,
                        maxmin: true,
                        content: $('#gd'),
                        btn: ['添加'],
                        success: function (layero) {
                            layero.find('.layui-layer-btn').css('text-align', 'right')
                        },
                        btn1: function () {
                            Add();
                        }
                    })
                }
                else {
                    layer.msg('登录异常', { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg('登录异常', { icon: 5 });
            }
        });
    }
    ///群组双击事件
    function setValue(EGROUPMEMBERLIST, EGROUPPHONELIST) {
        $('#tbxMessageNAME').val(EGROUPMEMBERLIST);
        $('#tbxMessagePHONE').val(EGROUPPHONELIST);
        var str = EGROUPPHONELIST.split(',');
        $('#tt').tree('reload');
        layer.closeAll();
    }
    ///群组删除
    function Del(Method, ID, page) {
        layer.confirm('确实要删除吗?', { icon: 3, title: '提示' }, function (index) {
            $.ajax({
                url: '/Email/EGROUPManger',
                cache: false,
                data: { EGROUPID: ID, Method: Method },
                type: 'post',
                error: function () {
                    layer.msg('系统异常!', { icon: 5 });
                },
                dataType: 'json',
                success: function (re) {
                    if (re.Success) {
                        layer.msg('删除成功!', { icon: 6 });
                        opengroup(page);
                    }
                    else {
                        layer.msg(re.Msg, { icon: 5 });
                    }
                }
            });
        });
    }
    ///群组的修改
    function Mdy(Method, ID, page, NAME) {
        layer.open({
            type: 2,
            title: NAME + "修改",
            area: ['65%', '65%'],
            //shade: 0,
            fix: false,
            maxmin: true,
            content: '/Email/SendMessageMan?EGID=' + ID + "&Method=" + Method,
            end: function () {
                opengroup(page);
            }
        });
    }
    ///群组的增加
    function Add() {
        layer.open({
            type: 2,
            title: '添加',
            fix: false, //不固定
            area: ['70%', '70%'],
            maxmin: true,
            content: '/Email/SendMessageMan?Method=' + 'Add',
            end: function () {
                opengroup("1");
            }
        });
    }
    ///群组查看
    function See(ID) {
        $.ajax({
            type: "Post",
            url: "/Email/GetGROUPjson",
            data: {
                EGROUPID: ID,
            },
            dataType: "json",
            error: function () {
                layer.msg('系统异常!', { icon: 5 });
            },
            success: function (re) {
                $('#EGROUPNAME').val(re.EGROUPNAME);
                $('#EGROUPMEMBERLIST').val(re.EGROUPMEMBERLIST);
            }
        });
        layer.open({
            type: 1,
            title: '群组查看',
            area: ['60%', '50%'],
            fix: false,
            maxmin: true,
            shade: 0,
            offset: ['100px', '300px'],
            content: $('#tablesee'),
        });
    }
    ///模板增加
    function Manger() {
        $.ajax({
            url: '/Email/MessageManger',
            data: { MessageContent: $('#tbxMessageCONTENT').val(), Method: 'Add', },
            type: 'post',
            dataType: "json",
            error: function () {
                layer.msg('系统异常!', { icon: 5 });
            },
            success: function (data) {
                if (data.Success) {
                    layer.msg(data.Msg, { icon: 6 });
                }
                else {
                    layer.msg(data.Msg, { icon: 5 });
                }
            }
        });
    }
</script>
