@{
    ViewBag.Title = "PopFireLevelIndex";
    Layout = null;
}
@model IEnumerable<ManagerSystem.MVC.Models.YJJCFireLevelModel>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
<link href="~/Content/themes/default/Public.css" rel="stylesheet" />
<link href="~/Content/themes/default/Default.css" rel="stylesheet" />


<div class="page-content">
    <div style="margin:3px">
        <div class="divTable">
            <table>
                <thead>
                    <tr><th>区域</th><th>等级</th></tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:50%;">@item.AreaName</td>
                                <td>@item.FireLevel</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>