@{
    ViewBag.Title = "预警响应";
    Layout = "~/Views/Shared/_LayOutIndexNoMenu.cshtml";
}

<div class="divTable" id="DivTableList" style="float:left">

</div>

<script type="text/javascript">
    $(function () {
        $.ajax({
            url: '/System/getYJ_XY_WORKTable',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (data.Success) {
                    $('#DivTableList').html(data.Msg);
                }
                else {
                    $('#DivTableList').html('');
                }
            },
            error: function () {
                layer.msg('系统异常', { icon: 5 });
            }
        });
    });
    function show(i, j)
    { }
</script>
