@{
    Layout =null;
}
<style type="text/css">
    body, table, th, tr, td {
        margin: 0;
        padding: 0;
    }

    .xbsx {
        width: 96%;
        font-family: 微软雅黑;
        background-color: #4d951e;
        padding: 1% 2%;
        color: #0c2501;
        margin: 1% auto;
    }

        .xbsx h1 {
            text-align: center;
            margin-left: 2%;
            font-size: 15px;
            color: #fff;
        }

        .xbsx table {
            width: 100%;
            height: auto;
            border-collapse: collapse;
            border: 1px solid #b8d3b3;
            background-color: #fff;
        }

            .xbsx table tr {
                border: 1px solid #b8d3b3;
                text-align: center;
                height: 28px;
            }

                .xbsx table tr th {
                    border: 1px solid #b8d3b3;
                    padding-left: 2%;
                    font-size: 13px;
                }

                .xbsx table tr td {
                    border: 1px solid #b8d3b3;
                    padding-left: 2%;
                    font-size: 12px;
                }

                .xbsx table tr:hover {
                    background-color: #ffe5cc;
                }
</style>
<div class="xbsx">
    <h1>瞭望台照片详细信息</h1>
    <table cellpadding="0" cellspacing="0">
        
        <tbody>
             @Html.Raw(@ViewBag.PHOTO)
        </tbody>
    </table>
    <div style="overflow: auto; text-align: center;">
     
        <a href="/MapCommon/PopViewIndex?dbType=5&dbid=@ViewBag.DC_OVERWATCH_ID" style="font-size:18px;left:30px">返回</a>
    </div>
</div>