@{
    ViewBag.Title = "TestIndex2";
    Layout = null;
}
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@ViewBag.Title</title>
    <!--WB.JS-->
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3807264703" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <wb:share-button type="button" size="middle"> </wb:share-button>

    <script type="text/javascript">
     

    </script>
</body>

</html>