@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@section Header{
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'west'" title="" style=" width:220px; border: none; ">
        @Html.Raw(@ViewBag.PageLeftMenu)
    </div>

    <div data-options="region:'center'" title="" class="LayoutCenterBG">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <ul>
                        <li class="homeUL"><input type="button" class="btnSaveCss" value="保存" onclick="Save()"> </li>
                    </ul>
                </div>
            </div>

            <div data-options="region:'center'" title="" class="LayoutCenterBG">
                <div class="divMan">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td>区域：</td>
                            <td> <select id="tbxBYORGNO" style="width:90%;"> @Html.Raw(@ViewBag.vdOrg)</select> </td>
                            <td> <span style="color:red">*</span>火点像元个数（像素）：</td>
                            <td><input id="tbxNum" type="text" style="width:90%;" /> </td>
                        </tr>
                        <tr>
                            <td><span style="color:red">*</span>经度：</td>
                            <td> <input id="tbxJD" type="text" style="width:90%;" /></td>
                            <td><span style="color:red">*</span>纬度：</td>
                            <td><input id="tbxWD" type="text" style="width:90%;" /> </td>
                        </tr>
                        <tr>
                            <td>时间：</td>
                            <td colspan="3"> <input class="Wdate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', maxDate: '%y-%M-%d %H:%m:%s' })" id="tbxTIME" type="text" value="" style="width:40%;" /> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var h = date.getHours();
        if (h >= 0 && h <= 9) {
            h = "0" + h;
        }
        var m = date.getMinutes();
        if (m >= 0 && m <= 9) {
            m = "0" + m;
        }
        var s = date.getSeconds();
        if (s >= 0 && s <= 9) {
            s = "0" + s;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate + " " + h + seperator2 + m
            + seperator2 + s;

        $("#tbxTIME").val(currentdate);
    });

    function Save() {
        var str = $('#tbxBYORGNO').val();//orgno
        var reg = new RegExp("-", "g");
        var text = $("#tbxBYORGNO").find("option:selected").text().replace(reg, '');//orgname
        var t1 = $('#tbxAddr').val();
        var t2 = $('#tbxNum').val();
        var t3 = $('#tbxJD').val();
        var t4 = $('#tbxWD').val();

        if ($.trim(text) == "") {
            layer.msg('卫星热点地点不可为空!', { icon: 5 });
            $('#tbxAddr').focus();
            return;
        }
        if ($.trim(t2) == "") {
            layer.msg('火点个数不可为空!', { icon: 5 });
            $('#tbxNum').focus();
            return;
        }
        else {
            var reg = new RegExp("^[0-9]*[1-9][0-9]*$");
            if (!reg.test(t2)) {
                layer.msg('火点个数请输入数字!', { icon: 5 });
                $('#tbxXS').focus();
                return;
            }
        }

        if ($.trim(t3) == "") {
            layer.msg('经度不可为空!', { icon: 5 });
            $('#tbxJD').focus();
            return;
        } else {
            reg = /^-?\d+\.\d{1,6}$/;
            if (!reg.test(t4)) {
                layer.msg('经度格式不正确!', { icon: 5 });
                $('#tbxJD').focus();
                return;
            }
        }
        if ($.trim(t4) == "") {
            layer.msg('纬度不可为空!', { icon: 5 });
            $('#tbxWD').focus();
            return;
        } else {
            reg = /^-?\d+\.\d{1,6}$/;
            if (!reg.test(t4)) {
                layer.msg('纬度格式不正确!', { icon: 5 });
                $('#tbxWD').focus();
                return;
            }
        }
        var time = $('#tbxTIME').val();

        $.ajax({
            url: '/FireSatellite/SatelliteHotSave',
            timeout: 10000, //10秒后超时，如果为0则永不超时
            data: {
                BYORGNAME: text,
                BYORGNO: str,
                RSMJ: t2,
                JD: t3,
                WD: t4,
                FIRETIME: time
            },
            success: function (data, ioArgs) {
                var ar = eval('(' + data + ')');
                if (ar.Success) {
                    layer.alert("保存成功!", { icon: 6 }, function (index) {
                        window.location.assign(ar.Url);
                    });
                }
                else {
                    layer.msg(ar.Msg, { icon: 5 });
                }
            },
            error: function (err, ioArgs) {
                layer.msg("保存异常!", { icon: 5 });
            }
        });
    }
</script>