<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <!--<alias alias="" type="" />
    <namespace name="TLW.AH.Business.ServiceIDal" />
    <namespace name="TLW.AH.Business.ServiceDal" />
    <namespace name="TLW.AH.Application.Interfance" />
    <namespace name="TLW.AH.Application.Service" />
    

    <assembly name="TLW.AH.Business.ServiceIDal" />
    <assembly name="TLW.AH.Business.ServiceDal" />
    <assembly name="TLW.AH.Application.Interfance" />
    <assembly name="TLW.AH.Application.Service" />-->

    <container>
      <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="TLW.AH.Business.DBUtility.SpringerDBContext, TLW.AH.Business.DBUtility"/>
      <register type="TLW.AH.Business.ServiceIDal.IJCFireService,TLW.AH.Business.ServiceIDal" mapTo="TLW.AH.Business.ServiceDal.JCFireService,TLW.AH.Business.ServiceDal"/>
      <register type="TLW.AH.Application.Interfance.IJCFireApplicationService,TLW.AH.Application.Interfance" mapTo="TLW.AH.Application.Service.JCFireApplicationService, TLW.AH.Application.Service"/>
      <register type="TLW.AH.Business.ServiceIDal.IVideoOriginalService,TLW.AH.Business.ServiceIDal" mapTo="TLW.AH.Business.ServiceDal.VideoOriginalService,TLW.AH.Business.ServiceDal"/>
      <register type="TLW.AH.Application.Interfance.IVideoOriginalApplicationService,TLW.AH.Application.Interfance" mapTo="TLW.AH.Application.Service.VideoOriginalApplicationService, TLW.AH.Application.Service"/>
      <!--<register type="IJCFireApplicationService" mapTo="JCFireApplicationService" />
      <register type="IJCFireService" mapTo="JCFireService" />
      <register type="IVideoOriginalApplicationService" mapTo="VideoOriginalApplicationService" />
      <register type="IVideoOriginalService" mapTo="VideoOriginalService" />-->
    </container>
  </unity>
</configuration>