@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="easyui-layout" data-options="fit:true" style=" border:0;">


    <div data-options="region:'west'" title="" style=" width:320px; border: none; background:#feeddd;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">


            <div data-options="region:'north'" title="" style=" height:30px; border: none; overflow:hidden;">
                <div class="DefaultDivTitle">图层管理</div>
            </div>
            <div data-options="region:'center'" title="" style=" border: none; ">

                &nbsp;

            </div>
        </div>
    </div>
    <div data-options="region:'center'" title="" style=" border: none; background:#ddceee;">
        <img src="~/Images/dataCenter.jpg" width="100%" height="99%" />
    </div>
</div>
