@{
    Layout = "~/Views/Shared/_LayoutIndexNoMenu.cshtml";
}
<script src="~/Scripts/Chart/echarts.js"></script>
<script src="~/Scripts/Chart/HUReportChart/ReportChart.js"></script>

<div class="easyui-layout" data-options="fit:true" style=" border:0;">
    <div data-options="region:'center'" title="" style=" border: none;">
        <div class="easyui-layout" data-options="fit:true" style=" border:0;">
            <div data-options="region:'north'" title="" style=" height:35px; border: none; overflow:hidden;">
                <div class="divOP">
                    <div class="home">
                        <div style="float:left;">
                            单位:<select id="ORGNO">@Html.Raw(@ViewBag.vdOrg)</select>
                            开始时间：<input class="easyui-datebox" id="tbxTIMEBegin" type="text" style="width:90px;height:28px;" value="@ViewBag.TIMEBegin" />
                            结束时间<input class="easyui-datebox" id="tbxTIMEEnd" type="text" value="@ViewBag.TIMEEnd" style="width:90px;height:28px;" />
                            <input type="checkbox" value="1" name="chk1" checked="checked">火情
                            <input type="checkbox" value="2" name="chk1" checked="checked">病虫害
                            <input type="checkbox" value="3" name="chk1" checked="checked">盗砍盗伐
                            <input type="checkbox" value="4" name="chk1" checked="checked">安全隐患
                        </div>
                        <input type="button" value="查询" onclick="query()" class="btnSearchCss" />
                    </div>
                </div>
            </div>

            <div data-options="region:'center'" title="" class="LayoutCenterBG" style="width:100%;">
                <div id="ReportChart" style="width:100%;height:500px;float:left;">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ReportChart = echarts.init(document.getElementById('ReportChart'));//个数展示
    var ReportCount = '';
    function query() {
        var TopEchart = $('#ORGNO').val();
        var DateBegin = $('#tbxTIMEBegin').datebox('getValue');
        var DateEnd = $('#tbxTIMEEnd').datebox('getValue');
        ReportCount = $("input:checkbox[name='chk1']:checked").map(function (index, elem) {
                return $(elem).val();
            }).get().join(',');
        getReportCount(TopEchart, ReportCount,DateBegin, DateEnd);
    }
</script>


